<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:property-placeholder location="classpath:app.properties" />

  <bean id="musicBean" class="com.dimraktin.springlearning.RockMusic" />

  <bean id="bassTunerBean" class="com.dimraktin.springlearning.BassTuner">
    <property name="value" value="${bassTuner.value}" />
  </bean>

  <bean id="playerBean" class="com.dimraktin.springlearning.Player" scope="prototype">
    <constructor-arg name="music" ref="musicBean" />
    <property name="tuner" ref="bassTunerBean" />
  </bean>

</beans>