<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
	  
  <bean id="playerBean" class="com.dimraktin.springlearning.Player">
    <constructor-arg name="music" ref="musicBean" />
  </bean>
	
  <bean id="musicBean" class="com.dimraktin.springlearning.RockMusic" />
</beans>